.movie-page {
  height: 100%;
  width: 100%;
}

.movie-page-header {
  background-color: #fffde9;
  border-bottom: 5px solid #ffe81f;
  padding: 0.5em 1em;

  h1 {
    margin: 0;
    cursor: pointer;
  }
}

.movie-layout {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}

.movie-list {
  border-right: 5px solid #ffe81f;
  width: 40%;
	min-width: 350px;
  max-height: 100%;
  overflow-y: auto;
}

.movie-details {
  width: 60%;
  max-height: 100%;
  overflow-y: scroll;
}
