.movie-page {
  height: 100%;
  width: 100%;
}

.movie-page-header {
  border-bottom: 5px solid #ffe81f;
  padding: 0.5em 1em;

  h1 {
    margin: 0;
    cursor: pointer;
  }
}

.movie-layout {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}

.movie-list,
.movie-details {
  max-height: 100%;
  overflow-y: auto;
  margin: 0.5em;
  border-radius: 10px;
  background-color: white;
  box-shadow: silver 0px 0px 5px 0px;
}

.movie-list {
  width: 40%;
  min-width: 350px;
}

.movie-details {
  width: 60%;
  max-height: 100%;
  margin-left: 0;
}
